body {
  /*background:black;*/
  background:#d0ff00; 
  pointer-events:none;
  cursor:default;
}

h1 {
  font-family: Helvetica;
  text-align: center;
  font-size: 39px;
  padding-top: 10px;
}

#container {
/* margin: 0 auto;
 width:800px;*/
 background:#e8e8e8;
 /*background:#d0ff00;  */
 margin: auto;
 width: 650px;
/* border: 3px solid green;*/
}

.twitter-timeline {
  margin-left:50px;
  margin-right:50px;
  position: absolute;
  padding: 10px;
}
